<div class="search-service">
    <div class="container">
        <form class="form-horizontal" ng-submit="main.search()" novalidate="novalidate">
            <div class="form-group">
                <label for="searchbox" class="sr-only">Keyword</label>

                <div class="col-sm-5">
                    <input ng-model="main.keyword" required="required" name="keyword" type="text" class="form-control" id="searchbox" placeholder="Search" />
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-block">Go</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="search-results">
    <div class="container">
        <div class="panel panel-default" ng-repeat="result in main.results">
            <div class="panel-body">
                {{result}}
            </div>
        </div>
    </div>
</div>
