<div class="search-service">
    <div class="container">
        <form name="searchForm" class="form-horizontal" ng-submit="main.search()" novalidate="novalidate">
            <div class="form-group" ng-class="{'has-error': searchForm.keyword.$error.minlength}">
                <label for="searchbox" class="sr-only">Keyword</label>
                <div class="col-sm-5">
                    <input
                        ng-model="main.keyword"
                        ng-minlength="3"
                        required="required"
                        name="keyword"
                        type="text"
                        class="form-control"
                        id="searchbox"
                        placeholder="Search" />
                </div>
                <div class="col-sm-2">
                    <button
                        type="submit"
                        class="btn btn-primary btn-block"
                        ng-disabled="main.loading || searchForm.keyword.$error.minlength">
                        Go
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="search-results" >
    <div class="container">
        <div class="row" >
            <div class="col-md-8">
                <div class="panel panel-default" ng-show="main.results.length && !main.loading" dir-paginate="result in main.results | filter:main_input | itemsPerPage: 5 | filter: ">
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><a class="pdf-link" ng-href="{{result.pdfURL}}" ng-bind-html="result.title"></a></li>
                            <li><strong>Date:</strong> {{result.date ? result.date : 'Being processed'}}</li>
                            <li><strong>Document number:</strong> {{result.number}}</li>
                            <li><strong>Court:</strong> {{result.court}}</li>
                            <li><strong>Document type:</strong> {{result.type}}</li>
                            <li><strong>Document subject:</strong> {{result.subject}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row" ng-show="!main.results.length && !main.loading">
                    <div class="alert alert-default">There are no results to be displayed.</div>
                </div>

                <div class="loader" ng-show="main.loading">
                    Loading ...
                </div>
                <dir-pagination-controls></dir-pagination-controls>
            </div>

            <div class="col-md-4">
                <div class="form-inline">
                    <div class="form-group">
                        <input ng-model="main_input" required="required" name="keyword" type="text" class="form-control" placeholder="Quick Filter" />
                    </div>
                </div>

                <br />
                <div>
                    <div class="panel panel-default ">
                        <div class="panel-body" ng-click="isCollapsed = !isCollapsed">
                            Advanced Filter
                        </div>
                    </div>
                    <hr>
                    <div ng-show="isCollapsed">
                            <div class="well well-lg">Type

                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    <li ng-repeat="(type, count) in main.types"> 
                                    <input type="checkbox" ng-click=""/> {{ type }} : {{ count }}</li>
                                </ul>
                            </div>
                            </div>
                        <div class="well well-lg">Date</div>
                        <div class="well well-lg">Courts</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
