<div class="search-service">
    <div class="container">
        <form class="form-horizontal" ng-submit="main.search()" novalidate="novalidate">
            <div class="form-group">
                <label for="searchbox" class="sr-only">Keyword</label>

                <div class="col-sm-5">
                    <input ng-model="main.keyword" required="required" name="keyword" type="text" class="form-control" id="searchbox" placeholder="Search" />
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary btn-block">Go</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="search-results">
    <div class="container">
        <div class="panel panel-default" ng-repeat="result in main.results">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><a ng-href="{{result.docUrl}}">{{result.docName}}</a></li>
                    <li class="list-group-item">Date:             {{result.date}}</li>
                    <li class="list-group-item">Document number:  {{result.docNr}}</li>
                    <li class="list-group-item">Document name:    {{result.docName}}</li>
                    <li class="list-group-item">Document type:    {{result.docType}}</li>
                    <li class="list-group-item">Document subject: {{result.docSubject}}</li>
                    <li class="list-group-item">Field:            {{result.unknownField2}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
